# Node modules
node_modules/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Mac/OS system files
.DS_Store

# Optional: หากใช้ VS Code
.vscode/

# Optional: coverage/test artifacts
coverage/
